<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Weather Map</title>
</head>
<body>
    <div class="content">
        <form action="/weatherapp">
            <label for="cityName">City:</label>
            <input type="text" name="city Name" id="cityName"><br>

            <label for="apiid">ApiId:</label>
            <input type="text" name="ApiID" id="apiid"><br>

            <label for="units">units</label>
            <input type="text" name="units" id="units"><br>

            <button type="submit">Search</button>
        </form>
    </div> 
</body>
</html>